<div class="container">
    <div class="header">
        <!--
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        -->
        <h3 class="text-muted">ToKeep</h3>
    </div>

    <div id="searchBox" class="well">
        <form class="form-horizontal" role="form" action="#">
            <div class="form-group">
                <label for="inputSearch" class="col-sm-2 control-label">Search</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputSearch" name="inputSearch" placeholder="Something to search">
                </div>
            </div>
            <div class="form-group">
                <label for="selectTags" class="col-sm-2 control-label">Tags</label>
                <div class="col-sm-10">
                    <select class="form-control" id="selectTags" name="selectTags"></select>
                    <span class="help-block">Add tags to help your search</span>
                </div>
            </div>
        </form>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>

    <div class="footer">
        <p>© panda_</p>
    </div>

</div>