<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <!--Sidebar content-->

      <center>
        <h1>PIZZA DELIS'</h1>
      </center>

      <div class="row details">
        <div class="col-md-offset-2 col-md-4">
          <br/>

          <div class="row">
            <div class="col-md-4 title">
              <span>Téléphone</span>
            </div>
            <div class="col-md-8 second">
              05.46.41.20.11
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 title">
              <span>Adresse</span>
            </div>
            <div class="col-md-8 second">
              2 Rue Brétignière<br/>
              17000 La Rochelle
            </div>
          </div>

          <br/><br/>

          <div class="row">
            <div class="col-md-4 title">
              <span>Horaires</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 title">
              <span>Mardi au Vendredi</span>
            </div>
            <div class="col-md-7 second">
              11h30-13h30/18h-22h
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 title">
              <span>Samedi et Dimanche</span>
            </div>
            <div class="col-md-7 second">
              18h-22h
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-3 title" style="margin-top: 18px;">
              <span>Où nous trouver ?</span>
            </div>
            <div class="col-md-9">
              <div id="map_canvas"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="search">
        <div class="form-wrapper cf">
          <input type="text" placeholder="Pizza ou Ingrédients ..." ng-model="query" required>
          <button type="submit">Recherche</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <!--Body content-->

      <ul class="cats">
        <li ng-repeat="cat in cats | type:typeProp" ng-show="(cat.pizzas | filter:query | orderBy:orderProp).length">
            <h2 class="pizza-type">{{cat.description}} :</h2>
            <ul class="pizzas">
              <li class="pizza thumbnail" ng-repeat="pizza in cat.pizzas | filter:query | orderBy:orderProp">
                <h4>
                  "{{pizza.name}}" <span ng-show="pizza.more">({{pizza.more}})</span>
                  <div class="prices">
                    <span class="moy" ng-show="pizza.price.moy">{{pizza.price.moy}}</span>
                    <span class="gra" ng-show="pizza.price.gra">{{pizza.price.gra}}</span>
                  </div>
                </h4>
                <div class="clear"></div>
                <ul class="ingredients">
                  <li ng-repeat="ingredient in pizza.ingredients track by $index">
                    <span>{{ingredient}}</span>
                  </li>
                </ul>
              </li>
            </ul>
        </li>
      </ul>

    </div>
  </div>
</div>

<script>
  function initialize() {
    var canvas = document.getElementById('map_canvas');
    var mapOptions = {
      center: new google.maps.LatLng(46.161569, -1.139582),
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(canvas, mapOptions);
    new google.maps.Marker({
        position: new google.maps.LatLng(46.161569, -1.139582),
        map: map,
        title: 'Pizza Delis\''
    });
  }

  initialize();
</script>
